@import '../node_modules/@lumino/dragdrop/style/index.css';
@import '../node_modules/@lumino/widgets/style/index.css';
@import '../node_modules/@lumino/default-theme/style/commandpalette.css';
@import '../node_modules/@lumino/default-theme/style/datagrid.css';
@import '../node_modules/@lumino/default-theme/style/dockpanel.css';
@import '../node_modules/@lumino/default-theme/style/menu.css';
@import '../node_modules/@lumino/default-theme/style/menubar.css';
@import '../node_modules/@lumino/default-theme/style/scrollbar.css';
@import '../node_modules/@lumino/default-theme/style/tabbar.css';

/*
	Widgets don't display properly for a reason I don't comprehend.
	Their height is auto-set to 0.
*/
.lm-Widget {
    height: 100% !important;
}

.svelte-widget {
	overflow: auto;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}